@charset "ISO-8859-1";
a{
    text-decoration: none;
    margin-bottom: 15px;
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-family: 'Poppins', sans-serif;;
}
#footer-main{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.logo{
    font-weight: 600;
}
.footer-sm{
    height: 20px;
    width: 20px;
    margin-left: 5px;
}
.footer-left{
    display: block;
    width: 40%;
}
.footer-left-sm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.footer-left-location{
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    margin: 7px;
}
.img-location{
    height: 15px;
    width: auto;
}
.footer-right{
    display: block;
    width: 50%;
    justify-content: center;
    text-align: center;
}
.footer-right-h2{
    text-align: center;
}
.footer-right-email{
    text-align: center;
    height: auto;
}
#correo{
    width: 50%;
    border-radius: 3px ;
    height: 22px;
    border: 1px solid black;
}
#btn-unete{
    width: 70px;
    border-radius: 3px ;
    height: 21px;
    border: 1px solid black;
}
#btn-unete:hover{
    background-color: lightgray;
}
.footer-right-columns{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 30px;
}
.footer-right-columns-content{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
.footer-right-columns-content a{
    color: black;
}
.footer-copyright{
    padding: 20px;
    background-color: rgb(228, 248, 255);
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
p{
    margin: 0px;
}
.footer-left-p{
    margin:7px;
    text-align: justify;
}
