.container-login {
	position: relative;
}

.sombra-container {
	width: 100%;
	height: 100%;
	
	position: absolute;
	top: 0;
	left: 0;

    background: #00000025;
	z-index: -1;
	object-fit: cover;
}

.subcontainer-login {
	height: 100%;
	display: grid;
	place-items: center;
}

.form-login {
	background-color: #FFF;
	border-radius: 1rem;
}